<h1><%= @user.username %></h1>

<h2>Products</h2>
<table>
  <thead>
    <tr>
      <td>Image</td>
      <td>Name</td>
      <td>Description</td>
      <td>Quantity</td>
      <td>Price</td>
    </tr>
  </thead>
  <tbody>
    <% @user.products.each do |product| %>
      <tr>
        <td><%= image_tag(product.image_url, alt: product.name) %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.quantity %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
