<h2>Revenue Summary</h2>
<% if @logged_in_user.order_items.empty? %>
  <p>You haven't had any sales yet!</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Order Count</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @order_statuses.each do |status| %>
        <tr>
          <td><%= status.capitalize %></td>
          <td><%= @logged_in_user.order_count_by_status(status) %></td>
          <td><%= @logged_in_user.revenue_by_order_status(status) %></td>
        </tr>
      <% end %>
      <tr>
        <td>Total</td>
        <td><%= @logged_in_user.order_count %></td>
        <td><%= @logged_in_user.total_revenue %></td>
      </tr>
    </tbody>
  </table>
<% end %>
