<% if @order.errors.messages.length > 0 %>
<section class="errors">
  <h2>Something went wrong!</h2>
  <ul>
    <% @order.errors.messages.each do |field, problem_list| %>
      <% problem_list.each do |problem| %>
        <li>
          <strong><%= field %>:</strong>
          <%= problem %>
        </li>
        <% end %>
    <% end %>
  </ul>
</section>
<% end %>

<h2>Enter Your Information</h2>
<%= form_for @order do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :customer_name %>

  <%= f.label :email %>
  <%= f.text_field :customer_email %>

  <%= f.label :street_address %>
  <%= f.text_field :customer_address %>

  <%= f.label :city %>
  <%= f.text_field :customer_city %>

  <%= f.label :zipcode %>
  <%= f.text_field :customer_zipcode %>

  <%= f.label :state %>
  <%= f.text_field :customer_state%>

  <%= f.label :Credit_card_number%>
  <%= f.text_field :credit_card_number %>

  <%= f.submit value: "Buy", class: 'button' %>
<% end %>
