<h1>Cart</h1>

<% if !@products.nil? %>
  <% @products.each do |product_order| %>
    <% product = Product.find(product_order.product_id) %>
    <article>
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= product.name %></th>
            <th><%= product.price %></th>
            <th><%= text_field_tag 'quantity' %></th>
            <th><%= link_to 'Remove Item', '#' %></th>
          </tr>
        </tbody>
      </table>
    </article>
  <% end %>
<% end %>

<nav>
  <%= link_to "Continue Shopping", products_path, class: "button" %>
  <%= link_to "Proceed to checkout", checkout_path, method: :get, class: 'button' %>
</nav>
