<h1>Billing Information</h1>
<ul>
  <% @order.errors.each do |column, msg| %>
    <li>
      <%= column.capitalize %> <%= msg %>
    </li>
  <% end %>
</ul>

<section>
  <%= form_for @order do |f| %>
    <%= f.hidden_field :status, value: "paid" %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :billing_name %>
    <%= f.text_field :billing_name %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :card_number %>
    <%= f.text_field :card_number %>

    <%= f.label :card_expiration %>
    <%= f.text_field :card_expiration %>

    <%= f.label :CVV %>
    <%= f.text_field :cvv %>

    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>

    <%= f.submit "submit order", class: "button" %>
  <% end %>
</section>
