<h1>Shopping Cart</h1>

<table class="cart large-10 small-8 columns">
  <thead>
    <tr>
      <th>Product</th>
      <th><span class="small-gray">Quantity</span></th>
      <th><span class="small-gray">Price</span></th>
      <th>Remove From Cart</th>
    </tr>
  </thead>
  <tbody>
  <% if @order_items %>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= link_to order_item.product.name, product_path(order_item.product_id) %></td>
        <td><%= form_tag set_item_path, method: :post do %>
            <%= hidden_field_tag :id, order_item.product_id %>
            <%= select_tag :quantity, options_for_select(1..30) %><br />
            <%= submit_tag "Update" %>
            <% end %></td>
        <td><span class="big-red"><%= number_to_currency(order_item.product.price) %></span></td>
        <td><%= link_to "Remove", order_path(order_item.product_id), method: "delete", class: "button" %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<section class="cart-sidebar large-2 small-4 columns">
  <ul>
    <li><%= link_to "Proceed to Checkout", checkout_path, class: "button" %></li>
    <li><%= link_to "Continue Shopping", root_path, class: "button" %></li>
  </ul>
</section>
