<h3><strong>Shopping Cart</strong></h3>
<article class="cart large-10 small-10 columns">
  <section class="row cart-header">
    <p class="cart large-4 small-4 columns">Product</p>
    <p class="cart large-2 small-2 columns"><span class="small-gray">Quantity</span></p>
    <p class="cart large-2 small-2 columns"><span class="small-gray">Price</span></p>
    <p class="cart large-4 small-4 columns"><span class="small-gray">Remove From Cart</span</p>
  </section>

  <section>
    <% if @order_items %>
        <% @order_items.each do |order_item| %>
          <ul class="row cart-items" class="cart large-10 small-10 columns">
            <li class="cart product-name large-4 small-4 columns"><%= link_to order_item.product.name, product_path(order_item.product_id) %></li>
            <li class="cart large-2 small-2 columns">
                <div class="add-to-cart">
                  <%= form_tag set_item_path, method: :post do %>
                    <%= hidden_field_tag :id, order_item.product_id %>
                    <%= select_tag :quantity, options_for_select(order_item.quantity..30) %><br />
                    <%= submit_tag "Update" %>
                    <% end %>
                </div>
            </li>
            <li class="cart large-2 small-2 columns"><span class="big-red"><%= number_to_currency(order_item.product.price) %></span></li>
            <li class="cart large-4 small-4 columns">
              <%= link_to "Remove", order_path(order_item.product_id), method: "delete", class: "button" %>
            </li>
          </ul>
        <% end %>
    <% end %>
  </section>
</article>

<article class="checkout large-2 small-2 columns">
    <ul>
      <li><%= link_to "Proceed to Checkout", checkout_path, class: "button" %></li>
      <li><%= link_to "Continue Shopping", root_path, class: "button" %></li>
    </ul>
</article>
