<h1> Merchant: <%= "#{@merchant.username}" %> </h1>

<% if @login_merchant.nil? || @login_merchant.id != @merchant.id %>
<!-- Logged out -->
  <% @merchant.products.each do |product| %>
  <div class="column">
    <%=image_tag(product.image, alt: "Product Image", class: "thumbnail")%>
    <h5><%= product.name %></h5>
    <p><%= product.price %></p>
    <a href="#" class="button expanded">Buy</a>
  </div>
  <% end %>

<% elsif @login_merchant.present? && @login_merchant.id == @merchant.id %>
<!-- Logged in -->
  <table>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Inventory</th>
      <th>Status</th>
    </tr>
    <% @merchant.products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.category %></td>
      <td><%= product.price %></td>
      <td><%= product.inventory %></td>
      <td><%= product.status %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Add Product", new_product_path, class: "button" %>
  <% end %>
