<h1> Merchant: <%= "#{@merchant.username}" %> </h1>

<% if @login_merchant.nil? || @login_merchant.id != @merchant.id %>
<!-- Logged out -->

<div class="row small-up-1 medium-up-2 large-up-4">
  <% if @merchant.products.where(status: "active").empty? %>
    <p><%= "#{@merchant.username}" %> doesn't have any products for sale at this time.</p>
  <% else %>
    <% @merchant.products.each do |product| %>
    <div class="column">
      <%=image_tag(product.image, alt: "Product Image", class: "thumbnail")%>
      <h5><%= product.name %></h5>
      <p><%= product.price %></p>
      <a href="#" class="button expanded">Buy</a>
    </div>
    <% end %>
  <% end %>
</div>

<% elsif @login_merchant.present? && @login_merchant.id == @merchant.id %>
<!-- Logged in -->
    <table>
      <tr>
        <th>View Listing</th>
        <th>Category</th>
        <th>Price</th>
        <th>Inventory</th>
        <th>Status</th>
        <th>Edit</th>
      </tr>
      <% @merchant.products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.category %></td>
        <td><%= product.price %></td>
        <td><%= product.inventory %></td>
        <td><%= link_to product.status_info[0], status_path(product), method: :patch, class: "button"%></td>
        <td><%= link_to "Edit", edit_product_path(product), class: "button" %></td>
      </tr>
      <% end %>
    </table>
  <%= link_to "Add Product", new_product_path, class: "button" %>
  <% end %>
