<section class="form">
  <% if @category.errors.any? %>
  <ul class="error">
    <% @category.errors.each do |field, msg| %>
    <li>
      Oops! <strong><%= field.capitalize %></strong> <%= msg %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <%= form_for @category do |f| %>
  <ul>
    <li>
      <%= f.label :name, "Name: " %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  </ul>
  <% end %>
  <%= button_to "Cancel", :root, method: :get %>
</section>
