<section class="form">
  <%= form_for @category do |f| %>
  <ul>
    <li>
      <%= f.label :name, "Name: " %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  </ul>
  <% end %>
  <%= button_to "Cancel", :root, method: :get %>
</section>
