
<% if !@category.nil?%>
  <h3>Category: <%= @category.name%></h3>
<% else %>
  <h3 class = "products">List of all available products</h3>
<% end %>

<section class="row small-up-1 medium-up-3 large-up-6">
  <% @products.each do |product| %>

  <section class="column product_b">
    <div>
      <%=link_to image_tag(product.image, alt: "Product image not available", class: "thumbnail image_index"),product_path(product)%>
    </div>
    <h5><%= product.name %></h5>
    <p>
      $ <%=product.price %>
    </p>
    <div>
      <%= link_to "Add to cart", product_add_product_path(product.id), method: :post,  class: "button buy"%>
    </div>
    <p><%=product.description%></p>
  </section>
  <% end %>
</section>
