<h6><%= link_to "Back", :back %></h6>
<section class="product">
  <%= link_to image_tag(@product.image_url), product_path(@product.id) %>
  <ul class="product-details">
    <li>
      Name: <%= @product.name %>
    </li>
    <li>
      Price: <%= @product.price %>
    </li>
    <li>
      Quantity: <%= @product.quantity %>
    </li>
    <li>
      Description: <%= @product.description %>
    </li>
    <li>
      Sold by: <%= @product.user.username %>
    </li>
    <li>
      <% if session[:user_id] == @product.user.id %>
      <%= link_to "Edit Product", edit_product_path(@product.id) %>
      <% end %>
    </li>
  </ul>
</section>

<section class="other-products">
  <%= link_to "Other Products from this Merchant", user_products_path(@product.user.id) %>
</section>

<ul>
  <% @product.errors.each do |column, msg| %>
  <li>
  <%= column.capitalize %> <%= msg %>
  </li>
  <% end %>
</ul>

<aside class="cart">
  <%= form_tag add_item_path,  method: :post do %>
  <%= hidden_field_tag :id, @product.id %>
  <%= label_tag :quantity, 'quantity' %>
  <%= number_field_tag :quantity, 1, min: 1 %>
  <%= submit_tag "Add to cart" %>
  <% end %>
</aside>
