<section class="all-products">
  <h3>All Products</h3>
  <table class="product-list">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Description</th>
      <th>Merchant</th>
    </tr>
    <tr>
      <td>
        <%= link_to @product.name, product_path(@product.id) %>
      </td>
      <td>
        <%= @product.quantity %>
      </td>
      <td>
        <%= @product.price %>
      </td>
      <td>
        <%= @product.description %>
      </td>
    </tr>
  </table>
</section>

<section>
  <%= form_tag add_item_path,  method: :post do %>
      <%= hidden_field_tag :id, @product.id %>
      <%= label_tag :quantity, 'quantity' %>
      <%= number_field_tag :quantity, 1, min: 1 %>
      <%= submit_tag "Add to cart" %>
  <% end %>  
</section>
