<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title> NomNomazon </title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><%= link_to "NomNomazon", root_path %></li>
          <li><a href="#">Category</a></li>
          <li><%= link_to "Merchants", "/merchants"%></li>
          <li><%= link_to "Products", "/products"%></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <%= link_to 'Cart', cart_path, class: "button small" %>
        <ul class="menu">
          <% if @current_user %>
          <li><%= link_to "Log Out", "/logout", class: "button small" %></li>
          <% else %>
          <li><%= link_to "Log In", "/auth/github", class: "button small" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>

  <main class="row">

    <section class="flash row">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section>

    <%= yield %>
  </main>

</body>
</html>
