<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title> NomNomazon </title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><%= link_to "NomNomazon", root_path %></li>
          <li><%= link_to "Categories", "/categories"%></li>
          <li><%= link_to "Merchants", "/merchants"%></li>
          <li><%= link_to "Products", "/products"%></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <%= link_to "Cart", cart_path, class: "button small" %>
        <% if @login_merchant %>
          <%= link_to "Merchant Log Out", "/logout", class: "button small" %>
        <% else %>
          <%= link_to "Merchant Log In", "/auth/github", class: "button small" %>
        <% end %>
      </div>
    </div>
  </header>

  <main class="row">
    <% if flash[:result_text] or flash[:messages] %>
      <section class="row status <%= flash[:status] %>">
        <h3><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:result_text] %></h3>
        <% if flash[:messages] %>
          <ul>
            <% flash[:messages].each do |name, problems| %>
              <% problems.each do |problem| %>
                <li><%= name %>: <%= problem %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </section>
    <% end %>
    <% if flash[:partial] %>
      <section>
        <%= render partial: "shared/#{flash[:partial]}" %>
      </section>
    <% end %>
    <%= yield %>
  </main>

  <footer>
    <div class="top-bar bottom-bar">
      <p>
        <strong>DISCLAIMER:</strong> Please do NOT share real credit card information. This website was made for educational purposes.
      </p>
    </div>
  </footer>
</body>
</html>
