<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @logged_in_user %>
        <p>Logged in as <%= link_to @logged_in_user.username, account_path %></p>
        <%= link_to "Log Out", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", "/auth/github" %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
